{% extends 'main.html' %}






{%block main_card%}
<nav class="breadcrumbs">
    <a style="color: rgb(18, 51, 51);text-decoration: none;" href="#home" class="breadcrumbs__item">Home</a>
    <a style="color: rgb(9, 43, 43);text-decoration: none;" href="#shop" class="breadcrumbs__item">Dashboard</a> 
</nav>
<!-- <div class="mt-5 p-5 bg-white shadow rounded"> -->

		
    <!-- <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Cow ID</th>
                <th>Purchase Price(BDT)</th>
                <th>Purchase Date</th>
                <th>Age</th>
                <th>Weight</th>
                <th>Cow Status</th>
                <th>Action</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            
                <tr>
                    <td>"booking->b"</td>
                    <td>"booking->v"</td>
                    <td>"booking"</td>
                    <td>"booking->trans"</td>
                    <td>"booking->cu"</td>
                    <td>"booki"</td>
                    <td>"boo"</td>
                
                    
                    <td>----</td>
                    
                    <td>
                        <div class="d-flex flex-row-reverse">
                        
                        <form method="GET" action="" >
                                <button type="submit" class="btn btn-outline-dark shadow-none text-primary mx-2" >
                                    <b>Details</b>
                                </button>
                        </form>
                        </div>


                    </td>
                </tr> -->

           
<!--         
        
    </tbody>
    <tfoot>
        <tr>
            <th>----</th>
            <th>----</th>
            <th>----</th>
            <th>----</th>
            <th>----</th>
            <th>----</th>
            <th>----</th>
            <th>----</th>
            <th>----</th>
        </tr>
    </tfoot>
</table> -->

</div>
{%endblock main_card%}









{%block main%}
{%endblock main%}

{% block footer %}

{% endblock footer %}